.HeaderContainer {
    text-align: center;
    display: flex;
    flex-wrap: none;
    justify-content:space-evenly;
    align-items: center;
    padding: 0px;
    height:auto;
    width: 100%;
    max-width: 600px;
    padding: 0px 0px 15px 0px;
}

.ResultsForm {
    flex: 2;
}
    
.ResultsLogo {
    width: 150px;
    height: 75px;
    padding-right: 5px;
    flex: 1;
}
    
.ResultsInput {
    padding: 12px 20px;
    margin: 8px 5px;
    box-sizing:border-box;
    border: 2px solid #ff4500;
    border-radius: 10px;
    font-size: 16px;
    width:max-content;
    outline: none;
}

select {
    padding: 12px 0px 12px 0px;
    margin: 8px 5px;
    box-sizing:border-box;
    border: 1px solid #ddd;
    background-color: #f8f9fa !important;
    border-radius: 10px;
    font-size: 16px;
    width: fit-content;
    text-align: center;
    /* appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1em; */
}

#sort {
    background-position: left 5.8rem center;
}

#time {
    background-position: left 4.8rem center;
}

@media only screen and (max-width: 600px) {
    .HeaderContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .ResultsForm {
        width: 90%;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }
    
    .ResultsLogo {
        height: 60%;
        width: 60%;
        padding: 0;
        padding-bottom: 5px;
        text-align: center;
    }

    .ResultsInput {
        width: 100%;
    }

    select {
        display: none; 
    }
}

/* ---------------- */

.ResultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px 50px 50px;
    text-align: left;
}

.Results {
    width: 100%;
    max-width: 650px;
    padding: 0px 15px 0px 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f9fa;
    margin-bottom: 15px;
}

.ResultsRowTop {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:left;
    margin: 15px 5px 15px 5px;
}

.ResultsRowMiddle {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 5px 25px 5px;
}

.ResultsRowBottom {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin: 15px 5px 5px 5px;
}

.Results h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    flex: 1;
    padding-right: 10px;
    align-self: flex-start;
}

.Results p {
    font-size: 14px;
    font-weight: 400;
    padding-right: 20px;
    color: grey;
    margin: 0px 0px 10px 0px;
}

.Results img {
    max-width: 140px;
    height: 140px;
    border-radius: 3px;
    justify-content: center;
    align-self: center;
}

@media only screen and (max-width: 600px) {
    .ResultsContainer {
        padding: 20px 30px 10px 30px;
    }

    .Results {
        padding: 0px 10px 0px 10px;
    }
}