.ResultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    text-align: left;
}

.Results {
    width: 100%;
    max-width: 650px;
    padding: 0px 15px 0px 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.ResultsRowTop {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:left;
    /* padding-bottom: 5px; */
}

.ResultsRowMiddle {
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* padding-bottom: 5px; */
}

.ResultsRowBottom {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.Results h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    flex: 1;
    padding-right: 10px;
    align-self: flex-start;
}

.Results a {
    color: #000;
}

.Results p {
    font-size: 14px;
    font-weight: 400;
    padding-right: 20px;
    color: grey;
}

.Results img {
    width: auto;
    height: auto;
    max-width: 30%;
    object-fit: contain;
}

/* .Results span {
    font-size: 14px;
    color: #828282;
    margin-top: 5px;
    display: block;
} */