.NotFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10px;
    }
    
.NotFound img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding: 10px 0;
    }
    
.NotFound p {
    text-align: center;
    padding: 10px 0;
    }