.PostContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.Post {
    max-width: 650px;
    width: 100%;
    padding: 10px 25px;
    margin-bottom: 15px;
    background-color: #f8f9fa;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.PostRowTop {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 15px 0px;
}

.PostText p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    color: black;
    
    /* The following styles force URLs to wrap when they exceed their container  */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.PostMiddle {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 15px 0px;
}

.PostRowBottom {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin: 15px 0px 0px 0px;
}

.Post h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    flex: 1;
    align-self: flex-start;
}

.PostRowTop, .PostRowBottom p {
    font-size: 14px;
    font-weight: 400;
    padding-right: 20px;
    color: grey;
    margin: 0px 0px 10px 0px;
}

.Post img {
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 3px;
    padding-top: 20px;
}

@media only screen and (max-width: 600px) {
    .PostContainer {
        padding: 20px 30px 10px 30px;
    }

    .Post {
        padding: 0px 10px 0px 10px;
    }
}

/* -------------- */

.Comment {
    width: 100%;
    max-width: 650px;
    margin-bottom: 15px;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 10px 25px;
    border: 1px solid #ddd;
}

.CommentRowTop {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 5px 0px;
}

.CommentMiddle {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 15px 0px;
}

.CommentRowBottom {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin: 5px 0px;
}

.CommentRowTop, .CommentRowBottom p {
    font-size: 14px;
    font-weight: 400;
    color: grey;
}

@media only screen and (max-width: 600px) {
    .Comment {
        padding: 0px 10px 0px 10px;
    }
}